<div class=" bg-body pt-4">

  <!-- courses-->
  <div class="container-fluid">
    
    <!-- Header -->
    <div class="row font-weight-bold d-felx justify-content-center">
      <h2 class="col-12 col-md-10 text-center pb-0 pt-3 mb-0 bg-secondary-subtle rounded-top">Kursübersicht:</h2>
    </div>
    <div class="row font-weight-bold d-felx justify-content-center">
      <div class="col-2 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center  ps-4 rounded-start">Kurs</div>
      <div class="col-2 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center">Veranstaltungsort</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center">Adresse des Veranstaltungsortes</div>
      <div class="col-1 col-md-1 bg-secondary-subtle d-inline d-md-flex align-items-center">Öffentlich erreichbar?</div>
      <div class="col-1 col-md-1 bg-secondary-subtle d-inline d-md-flex align-items-center">Kursleiter</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center rounded-end">Alle Termine</div>
    </div>

    <!-- Data -->
    <div *ngFor="let course of storeService.courses" class="row py-2 mb-4 d-felx justify-content-center">
      <div class="col-2 col-md-2 border-bottom d-inline d-md-flex align-items-center ps-4">{{ course.name }}</div>
      <div class="col-2 col-md-2 border-bottom d-inline d-md-flex align-items-center">{{ course.eventLocation.name }}</div>
      <div class="col-3 col-md-2 border-bottom d-inline d-md-flex align-items-center">{{ course.eventLocation.address }}</div>
      <div class="col-1 col-md-1 border-bottom d-inline d-md-flex align-items-center">
        {{ course.eventLocation.venueByPublicTansport ? 'Ja' : 'Nein' }}
      </div>
      <div class="col-1 col-md-1 border-bottom d-inline d-md-flex align-items-center">{{ course.instructor }}</div>
      <div class="col-3 col-md-2 border-bottom d-inline d-md-flex align-items-center">
        <ul class="list mb-0">
          <li *ngFor="let date of course.dates">
            <span>{{ date.begin | date:"dd.MM.yyyy hh:mm" }}</span> bis
            <span>{{ date.end | date:"hh:mm" }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- registrations -->
  <div class="container-fluid">
    <!-- Header -->
    <div class="row font-weight-bold d-felx justify-content-center">
      <h2 class="col-12 col-md-10 text-center pb-0 pt-3 mb-0 bg-secondary-subtle rounded-top">Anmeldungen:</h2>
    </div>
    <div class="row font-weight-bold d-felx justify-content-center">
      <div class="col-3 col-md-3 bg-secondary-subtle d-flex align-items-center rounded-start ps-4">Name</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-flex align-items-center ">Geburtsdatum</div>
      <div class="col-3 col-md-3 bg-secondary-subtle d-flex align-items-center rounded-end">Kurs</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-flex align-items-center rounded-end">Newsletter</div>
    </div>

    <!-- Data -->
    <div *ngFor="let registration of storeService.registrations" class="row py-2 d-felx justify-content-center">
      <div class="col-3 col-md-3 border-bottom d-flex align-items-center ps-4">{{ registration.name }}</div>
      <div class="col-3 col-md-2 border-bottom d-flex align-items-center">{{ registration.birthdate | date:"dd.MM.yyyy"
        }}</div>
      <div class="col-3 col-md-3 border-bottom d-flex align-items-center">{{ registration.course.name }}</div>
      <div class="col-3 col-md-2 border-bottom d-flex align-items-center">{{ registration.newsletter ? "Ja" : "Nein" }}</div>
    </div>

    <!-- pagination -->
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div class="d-flex justify-content-center flex-wrap">
            <button *ngFor="let page of returnAllPages()" type="button" (click)="selectPage(page)" [ngClass]="{
            'btn': true,
            'btn-primary': page !== storeService.currentPage,
            'btn-secondary active': page === storeService.currentPage
          }" class="mx-1 my-1">
              {{ page }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>