#addDataContainer{
    background: url("/assets/images/sport.jpeg");
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    filter: blur(.6em);
}